@{
    Layout = Url.Content("~/Views/Shared/_LayoutReadable.cshtml");
    ViewBag.Title = "Tournament History";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    It all started with a friendly after tax season golf game but in 2004 it turned into a charity tournament. At first, SafeHomes was picked as the charity because a mother of one of the employees was working there at the time.
</p>
<p>
    TaxSlayer has grown from just wanting to have a purpose for the tournament to learning more about SafeHomes. TaxSlayer has always matched what the tournament has made in profit. In 2004, the first year, the Guardian Cup donated $5,000 and has grown to a donation of $150,000 in 2013.
</p>
<p>
    Also, in 2011, 70 TaxSlayer employees got together with a local landscaper, Anderson Horticulture, to renovate the yard at the domestic violence shelter. The SafeHomes shelter received a $20,000 landscape renovation. That renovation was a huge success and the employees had a big eye opening experience listening to some of the women living at the shelter tell their stories.
</p>
<p>
    The Guardian Cup has turned into one of the CSRAs biggest golf tournaments and continues to grow every year. It definitely would not have been achieved without the help of our local and national sponsors. We thank all who have ever been a part of the Guardian Cup; your participation has helped us to give back to our community and helped SafeHomes of Augusta touch the lives of so many.
</p>
