@{
    Layout = Url.Content("~/Views/Shared/_LayoutReadable.cshtml");
    ViewBag.Title = "More About SafeHomes";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    All the money raised from the Guardian Cup Golf Tournament is donated to SafeHomes of Augusta, a domestic violence intervention center.
</p>
<p>
    SafeHomes started in 1979 with just a group of women in Augusta trying to assist other women who were victims of domestic violence. When starting out they didn't know how big of an issue domestic violence was but they quickly found out the need was great.
</p>
<p>
    In 1983, the shelter was opened and served 80 women that year. Only 2 years later in 1985, they were serving over 500 women. Today SafeHomes is more than a shelter- it offers numerous programs and services to the victims and their children. Today it is impacting the lives of more than 1000 individuals every year.
</p>
