@{
    Layout = Url.Content("~/Views/Shared/_LayoutReadable.cshtml");
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Guardian Cup Golf Tournament<br />
    3003 TaxSlayer Drive<br />
    Evans, GA 30809<br />
    <i class="fa fa-phone"></i> <abbr title="Phone">P: </abbr>
    <a href="tel:+7068682333">706.868.2333</a> Ext. 249<br />
    <i class="fa fa-fax"></i> <abbr title="Phone">F: </abbr>
    <a href="tel:+7068681955">706.868.1955</a><br />
    <i class="fa fa-envelope"></i> <abbr title="Email">E:</abbr>
    <a href="mailto:golf@taxslayer.com?subject=Guardian Cup Golf Tournament">Email Us</a>
</address>
