@{
    Layout = Url.Content("~/Views/Shared/_LayoutReadable.cshtml");
    ViewBag.Title = "Tournament Rules - Monday, October 6th";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div>
    <p>
        <h4 class="text-center">Schedule</h4>
        <ul>
            <li>
                Registration, Player’s Gifts and Raffle Ticket Sales at 10:30a.
            </li>
            <li>
                Lunch at 11:00a.
            </li>
            <li>
                Tournament play will begin with team departing for their holes at 12:20p and a shotgun start at 12:30p.
            </li>
            <li>
                Dinner and awards following play (Approximately 6:00p).
            </li>
            <li>
                Raffle Drawing (Approximately 7:00p).
            </li>
        </ul>
    </p>

    <p>
        <h4 class="text-center">Format</h4>
        <ul>
            <li>
                Scramble - Each team member tees off. The best ball is selected by the team captain and all team members hit the next shot from that spot. This process continues until the ball is holed.
            </li>
            <li>
                Play your ball within one club length, no closer to the hole, of the selected shot. The ball must remain in the same condition (rough must remain in rough).
            </li>
            <li>
                The highest score you can take as a team is PAR. Putts “inside the leather” are good.
            </li>
            <li>
                Men will play from the Member Tees, Women will play from the Forward Tees.
            </li>
            <li>
                If your team only has three players, player A can play two shots on the first 6 holes, player B can play two shots on the next 6 holes, and player C can play two shots on the last 6 holes.
            </li>
            <li>
                Closest to the Pin competitions - Bluff #2, #8 / Creek #2, #4 / Island #6, #8.
            </li>
            <li>
                Hole in One Challenge – Teams can elect to take a hole in one on selected par 3’s by making a donation and hitting the green. (Teams do not have to putt – the lowest score that can be taken is 1).
            </li>
        </ul>
    </p>

    <p>
        <h4 class="text-center">Flights and Course Rotation - There are three flights – one for each course rotation:</h4>
        <ul>
            <li>
                Teams starting on the Bluff will play Bluff to Island.
            </li>
            <li>
                Teams starting on the Island will play Island to Creek.
            </li>
            <li>
                Teams starting on the Creek will play Creek to Bluff.
            </li>
        </ul>
    </p>

    <p>
        <strong>Inclement Weather</strong> – the golf course is not equipped with lightning detection, so there will not be any sirens or horns to indicate approaching inclement weather. Please use good judgment and seek shelter if inclement weather develops.
    </p>
    <p>
        <strong>Scoring and Ties</strong> - Scores will be posted to the scoreboard in the Pavilion. Ties for 1st place in each flight will be broken via scorecard playoff using the 9th hole of your starting course and going backwards.
    </p>
    <p>
        <strong>Shootout</strong> – The lowest team in each flight will compete in a shootout from approximately 100 yards. Each team member can hit a tee shot, and the team with the closest shot will be the winner.
    </p>
</div>