@{
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
    ViewBag.Title = "Our Sponsors";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div>
    <div class="sponsorListHolder">
        <div class="ribbon">
            GUARDIAN SPONSORS - <span style="vertical-align: text-top; font-size: 75%;">$</span>5,000
        </div>
        <div class="clearfix">
        </div>
        <div class="sponsor">
            <a target="_blank" href="http://www.taxslayerbowl.com/">
                <div class="sponsorFlip">
                    <img src="http://www.guardiancup.com/images/logo_wall/gatorbowl_logo.png" alt="More about TaxSlayer Bowl">
                </div>
            </a>
        </div>
        <div class="sponsor">
            <a target="_blank" href="http://www.refund-advantage.com/">
                <div class="sponsorFlip">
                    <img src="http://www.guardiancup.com/images/logo_wall/refunds_advantage_logo.png">
                </div>
            </a>
        </div>
        <div class="sponsor">
            <a href="http://www.ptstax.com/" target="_blank">
                <div class="sponsorFlip">
                    <img src="http://www.guardiancup.com/images/logo_wall/pts_logo.png">
                </div>
            </a>
        </div>
        <div class="sponsor">
            <a href="https://www.regions.com" target="_blank">
                <div class="sponsorFlip">
                    <img src="http://www.guardiancup.com/images/logo_wall/regions_logo.png">
                </div>
            </a>
        </div>
        <div class="sponsor">
            <a href="http://www.aol.com" target="_blank">
                <div class="sponsorFlip">
                    <img src="http://www.guardiancup.com/images/logo_wall/aol_logo.png">
                </div>
            </a>
        </div>
        <div class="sponsor">
            <a href="http://www.thedalejrfoundation.org/default.aspx" target="_blank">
                <div class="sponsorFlip">
                    <img src="http://www.guardiancup.com/images/logo_wall/dale_jr_foundation.png">
                </div>
            </a>
        </div>
        <div class="sponsor">
            <a href="http://www.taxslayer.com" target="_blank">
                <div class="sponsorFlip">
                    <img src="http://www.guardiancup.com/images/logo_wall/taxslayer.png">
                </div>
            </a>
        </div>
        <div class="sponsor">
            <a href="http://www.dacgroup.com/" target="_blank">
                <div class="sponsorFlip">
                    <img src="http://www.guardiancup.com/images/logo_wall/dac_logo.png">
                </div>
            </a>
        </div>
        <div class="sponsor">
            <a href="https://cisc.sbtpg.com/" target="_blank">
                <div class="sponsorFlip">
                    <img src="http://www.guardiancup.com/images/logo_wall/sbtpg_logo.png">
                </div>
            </a>
        </div>
        <div class="sponsor">
            <a href="http://www.rivercitybankky.com/" target="_blank">
                <div class="sponsorFlip">
                    <img src="http://www.guardiancup.com/images/logo_wall/rivercitylogo.png">
                </div>
            </a>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="sponsorListHolder">
        <div class="ribbon">
            CHAMPION SPONSORS - <span style="vertical-align: text-top; font-size: 75%;">$</span>2,500
        </div>
        <div class="clearfix"></div>
        <div class="sponsor">
            <a href="http://www.catholicsteward.com/" target="_blank">
                <div class="sponsorFlip">
                    <img src="http://www.guardiancup.com/images/logo_wall/catholic_stewards_logo.png">
                </div>
            </a>
        </div>
        <div class="sponsor">
            <a href="http://www.ferguson.com/showrooms" target="_blank">
                <div class="sponsorFlip">
                    <img src="http://www.guardiancup.com/images/logo_wall/ferguson_logo.png">
                </div>
            </a>
        </div>
        <div class="sponsor">
            <a href="http://www.claffeyprinting.com/" target="_blank">
                <div class="sponsorFlip">
                    <img src="http://www.guardiancup.com/images/logo_wall/claffey_logo.png">
                </div>
            </a>
        </div>
        <div class="sponsor">
            <a href="http://www.rhodesmurphy.com" target="_blank">
                <div class="sponsorFlip">
                    <img src="http://www.guardiancup.com/images/logo_wall/rhodes_murphy_logo.png">
                </div>
            </a>
        </div>
        <div class="sponsor">
            <a href="http://www.tsagolf.com/" target="_blank">
                <div class="sponsorFlip">
                    <img src="http://www.guardiancup.com/images/logo_wall/tsa_logo.png">
                </div>
            </a>
        </div>
        <div class="sponsor">
            <a href="http://www.bccommercial.com/" target="_blank">
                <div class="sponsorFlip">
                    <img src="http://www.guardiancup.com/images/logo_wall/bandc_commercial_logo.png">
                </div>
            </a>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="sponsorListHolder" style="width: 100%;">
        <div class="ribbon">
            GRIFFIN HOLE SPONSORS
        </div>
        <div class="clearfix"></div>
        <div style="font-size: 14px; width: 100%; padding-bottom: 40px; color: black;">
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                Rhodes Law Firm, PC
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                Johnson, Laschober &amp; Associates, PC
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                Georgia Bank and Trust
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">Evans Dermatology</div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>





@*<div>
        <h2>GUARDIAN SPONSORS - $5,000</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 text-center">
                <a target="_blank" href="http://www.thedalejrfoundation.org/default.aspx">
                    <img src="http://www.guardiancup.com/images/jrfoundation_logo.png">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 text-center">
                <a target="_blank" href="http://www.taxslayerbowlbowl.com/">
                    <img src="http://www.guardiancup.com/images/logo_wall/gatorbowl_logo.png">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 text-center">
                <a target="_blank" href="http://www.augustalexus.com">
                    <img src="http://www.guardiancup.com/images/Jim_Hudson_Lexus_logo.png">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 text-center">
                <a target="_blank" href="http://espn.go.com/">
                    <img src="http://www.guardiancup.com/images/espn_logo.png">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 text-center">
                <a target="_blank" href="https://www.regions.com/personal_banking.rf">
                    <img src="http://www.guardiancup.com/images/regions_logo.png">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 text-center">
                <a target="_blank" href="http://www.bulldawgmarketing.com/">
                    <img src="http://www.guardiancup.com/images/BDM-logo3.png">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 text-center">
                <a target="_blank" href="http://www.ptstax.com/">
                    <img src="http://www.guardiancup.com/images/pts_tax_logo.png">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 text-center">
                <a target="_blank" href="http://www.taxslayer.com">
                    <img src="http://www.guardiancup.com/images/gatorbowl_logo.png">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 text-center">
                <a target="_blank" href="http://www.evansfitnessclub.com/">
                    <img src="http://www.guardiancup.com/images/logo_wall/evans_fitness.png">
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>*@