<connectionStrings>
  <add name="sqlserver" connectionString="Data Source=aggykkna4g.database.windows.net;Initial Catalog=GolfSlayerDb;Integrated Security=False;User ID=RoutingWithAngular;Password=Books123!;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
</connectionStrings>